[submodule "bin"]
	path = bin
	url = https://github.com/krgamestudios/bin.git
[submodule "TurtleGUI"]
	path = TurtleGUI
	url = https://github.com/krgamestudios/TurtleGUI.git
[submodule "TurtleMap"]
	path = TurtleMap
	url = https://github.com/krgamestudios/TurtleMap.git
