#configuration of the programs
#TODO: (9) split this file in two, one for each program

#server specific settings
server.host = 255.255.255.255
server.port = 21795
server.name = local

server.dbname = database.db

#client specific settings
#client.screen.w = 800
#client.screen.h = 600
#client.screen.f = false #NOTE: fullscreen option is currently disabled

client.username = username
client.handle = handle
client.avatar = character2.png

#directories
dir.logos = rsc/graphics/logos/
dir.sprites = rsc/graphics/sprites/
dir.tilesets = rsc/graphics/tilesets/
dir.interface = rsc/graphics/interface/
dir.scripts = rsc/scripts/
dir.maps = rsc/maps/
dir.fonts = rsc/fonts/

#map system
map.savename = servermap

#debugging
client.font = rsc/fonts/coolvetica rg.ttf