#configuration of the programs

#server specific settings
server.host = 255.255.255.255
server.port = 21795
server.name = local

server.dbname = database.db

#client specific settings
#client.screen.w = 800
#client.screen.h = 600
client.screen.f = false

#TODO: change this based on platform?
client.font = /usr/share/fonts/truetype/dejavu/DejaVuSans.ttf

client.username = username
client.handle = handle
client.avatar = elliot2.bmp

#directories
dir.logos = rsc/graphics/logos/
dir.sprites = rsc/graphics/sprites/
dir.tilesets = rsc/graphics/tilesets/
dir.interface = rsc/graphics/interface/
dir.scripts = rsc/scripts/
dir.maps = rsc/maps/

#map system
map.savename = servermap

#debugging
